# Design an App that predicts movie genres and detects spoilers in reviews

 In this notebook, I will implement the selected best model from the previous grid search that I performed and will evaluate the model by using some useful metrics. I will also extract the 5 most important words that best describe every genre and will use that to make an interactive plotly figure.

### Part6: Model Evaluation

Author: Sana Krichen    
https://www.linkedin.com/in/sanakrichen/    
https://github.com/skrichen

In [3]:
#import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_train = pd.read_csv(f'/Users/SanaKrichen/Desktop/Brainstation/Capstone Project/df_train_ready.csv')
df_train

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,youtub,youv,zealand,zero,zip,zoe,zombi,zone,zoo,zoom
0,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9937,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9938,1,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
9939,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9940,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_test = pd.read_csv(f'/Users/SanaKrichen/Desktop/Brainstation/Capstone Project/df_test_ready.csv')
df_test

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,youtub,youv,zealand,zero,zip,zoe,zombi,zone,zoo,zoom
0,0,1,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3310,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3311,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3312,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3313,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
X_train = df_train.loc[:, 'aaron':]
X_train

,aaron,aback,abandon,abbi,abdomen,abduct,abil,abl,ablaz,aboard,...,youtub,youv,zealand,zero,zip,zoe,zombi,zone,zoo,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9937,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9938,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9939,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X_test = df_test.loc[:, 'aaron':]
X_test

,aaron,aback,abandon,abbi,abdomen,abduct,abil,abl,ablaz,aboard,...,youtub,youv,zealand,zero,zip,zoe,zombi,zone,zoo,zoom
0,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3311,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3313,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y_train = df_train.loc[:, :'War']
y_train

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,SciFi,Sport,Thriller,War
0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
4,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9936,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0
9937,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
9938,1,1,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0
9939,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
9940,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
y_test = df_test.loc[:, :'War']
y_test

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,SciFi,Sport,Thriller,War
0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
3310,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0
3311,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0
3312,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1
3313,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0

Let's implement the best parameters that we find by doing the grid search and implement and run our model

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler


my_scaler=StandardScaler()
my_scaler.fit(X_train)
X_train = my_scaler.transform(X_train)
X_test = my_scaler.transform(X_test)

my_model=OneVsRestClassifier(LogisticRegression(solver='lbfgs', penalty='l2', max_iter=3000, C=0.01, n_jobs=-1), n_jobs=-1)
my_model.fit(X_train,y_train)
pred=my_model.predict(X_test)
accuracy_score(y_test,pred)

0.28032589016294507

In [11]:
my_model.score(X_test,y_test)

0.28032589016294507

In [12]:
pred

array([[0, 1, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 1, 0]])

The accuracy here gives the percentage of the exact match of predicted combinations with the true ones. It is a very penalizing metric. For instance, let's take the example of a movie with 3 genres: Action, Crime and Thriller. Suppose that the model predicts only that the movie is Action and Thriller then the accuracy will penalize the score as this is not a perfect match. 
One way to get some other insights about the model performance is to check the accuracy for every single genre.

In [13]:
all_genres=['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'SciFi', 'Sport', 'Thriller', 'War']

Let's display the accuracy for every genre

In [14]:
pred_df = pd.DataFrame(pred, columns=all_genres)
for genre in all_genres:
    print('**Processing movie {} ...**'.format(genre))

    print('Test accuracy is {}'.format(accuracy_score(y_test[genre], pred_df[genre])))
    print("\n")

**Processing movie Action ...**
Test accuracy is 0.9016294508147255


**Processing movie Adventure ...**
Test accuracy is 0.9284852142426071


**Processing movie Animation ...**
Test accuracy is 0.9665057332528666


**Processing movie Biography ...**
Test accuracy is 0.9290887145443573


**Processing movie Comedy ...**
Test accuracy is 0.8180446590223295


**Processing movie Crime ...**
Test accuracy is 0.9031382015691007


**Processing movie Documentary ...**
Test accuracy is 0.9426674713337356


**Processing movie Drama ...**
Test accuracy is 0.7214846107423054


**Processing movie Family ...**
Test accuracy is 0.947797223898612


**Processing movie Fantasy ...**
Test accuracy is 0.944176222088111


**Processing movie History ...**
Test accuracy is 0.9411587205793603


**Processing movie Horror ...**
Test accuracy is 0.9577549788774894


**Processing movie Music ...**
Test accuracy is 0.9701267350633676


**Processing movie Musical ...**
Test accuracy is 0.9743512371756186


**Processing movie Mystery ...**
Test accuracy is 0.9312009656004828


**Processing movie Romance ...**
Test accuracy is 0.8497284248642124


**Processing movie SciFi ...**
Test accuracy is 0.9628847314423657


**Processing movie Sport ...**
Test accuracy is 0.9776704888352444


**Processing movie Thriller ...**
Test accuracy is 0.8593844296922148


**Processing movie War ...**
Test accuracy is 0.9662039831019915

This is a pretty high accuracy. But let's check the confusion matrix and the precision and recall for every genre to get a better idea about the performance of the model

In [15]:
from sklearn.metrics import confusion_matrix, classification_report
for i in all_genres:
    print(f'The {i} class distribution')
    display(y_test[i].value_counts())
    display(pd.DataFrame(
    data = confusion_matrix(y_test[i], pred_df[i]),
    columns = [f'predicted non-{i}', f'predicted {i}'],
    index = [f'True non-{i}', f'True {i}']))
    # classification report
    print(classification_report(y_test[i], pred_df[i]))

The Action class distribution

0    2823
1     491
Name: Action, dtype: int64

                 predicted non-Action  predicted Action
True non-Action                  2720               103
True Action                       223               268

              precision    recall  f1-score   support

           0       0.92      0.96      0.94      2823
           1       0.72      0.55      0.62       491

    accuracy                           0.90      3314
   macro avg       0.82      0.75      0.78      3314
weighted avg       0.89      0.90      0.90      3314

The Adventure class distribution

0    2958
1     356
Name: Adventure, dtype: int64

                    predicted non-Adventure  predicted Adventure
True non-Adventure                     2897                   61
True Adventure                          176                  180

              precision    recall  f1-score   support

           0       0.94      0.98      0.96      2958
           1       0.75      0.51      0.60       356

    accuracy                           0.93      3314
   macro avg       0.84      0.74      0.78      3314
weighted avg       0.92      0.93      0.92      3314

The Animation class distribution

0    3187
1     127
Name: Animation, dtype: int64

                    predicted non-Animation  predicted Animation
True non-Animation                     3154                   33
True Animation                           78                   49

              precision    recall  f1-score   support

           0       0.98      0.99      0.98      3187
           1       0.60      0.39      0.47       127

    accuracy                           0.97      3314
   macro avg       0.79      0.69      0.73      3314
weighted avg       0.96      0.97      0.96      3314

The Biography class distribution

0    3098
1     216
Name: Biography, dtype: int64

                    predicted non-Biography  predicted Biography
True non-Biography                     3040                   58
True Biography                          177                   39

              precision    recall  f1-score   support

           0       0.94      0.98      0.96      3098
           1       0.40      0.18      0.25       216

    accuracy                           0.93      3314
   macro avg       0.67      0.58      0.61      3314
weighted avg       0.91      0.93      0.92      3314

The Comedy class distribution

0    2442
1     872
Name: Comedy, dtype: int64

                 predicted non-Comedy  predicted Comedy
True non-Comedy                  2240               202
True Comedy                       401               471

              precision    recall  f1-score   support

           0       0.85      0.92      0.88      2442
           1       0.70      0.54      0.61       872

    accuracy                           0.82      3314
   macro avg       0.77      0.73      0.75      3314
weighted avg       0.81      0.82      0.81      3314

The Crime class distribution

0    2846
1     468
Name: Crime, dtype: int64

                predicted non-Crime  predicted Crime
True non-Crime                 2739              107
True Crime                      214              254

              precision    recall  f1-score   support

           0       0.93      0.96      0.94      2846
           1       0.70      0.54      0.61       468

    accuracy                           0.90      3314
   macro avg       0.82      0.75      0.78      3314
weighted avg       0.90      0.90      0.90      3314

The Documentary class distribution

0    2829
1     485
Name: Documentary, dtype: int64

                      predicted non-Documentary  predicted Documentary
True non-Documentary                       2784                     45
True Documentary                            145                    340

              precision    recall  f1-score   support

           0       0.95      0.98      0.97      2829
           1       0.88      0.70      0.78       485

    accuracy                           0.94      3314
   macro avg       0.92      0.84      0.87      3314
weighted avg       0.94      0.94      0.94      3314

The Drama class distribution

1    1889
0    1425
Name: Drama, dtype: int64

                predicted non-Drama  predicted Drama
True non-Drama                  892              533
True Drama                      390             1499

              precision    recall  f1-score   support

           0       0.70      0.63      0.66      1425
           1       0.74      0.79      0.76      1889

    accuracy                           0.72      3314
   macro avg       0.72      0.71      0.71      3314
weighted avg       0.72      0.72      0.72      3314

The Family class distribution

0    3092
1     222
Name: Family, dtype: int64

                 predicted non-Family  predicted Family
True non-Family                  3059                33
True Family                       140                82

              precision    recall  f1-score   support

           0       0.96      0.99      0.97      3092
           1       0.71      0.37      0.49       222

    accuracy                           0.95      3314
   macro avg       0.83      0.68      0.73      3314
weighted avg       0.94      0.95      0.94      3314

The Fantasy class distribution

0    3081
1     233
Name: Fantasy, dtype: int64

                  predicted non-Fantasy  predicted Fantasy
True non-Fantasy                   3025                 56
True Fantasy                        129                104

              precision    recall  f1-score   support

           0       0.96      0.98      0.97      3081
           1       0.65      0.45      0.53       233

    accuracy                           0.94      3314
   macro avg       0.80      0.71      0.75      3314
weighted avg       0.94      0.94      0.94      3314

The History class distribution

0    3126
1     188
Name: History, dtype: int64

                  predicted non-History  predicted History
True non-History                   3086                 40
True History                        155                 33

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      3126
           1       0.45      0.18      0.25       188

    accuracy                           0.94      3314
   macro avg       0.70      0.58      0.61      3314
weighted avg       0.92      0.94      0.93      3314

The Horror class distribution

0    3070
1     244
Name: Horror, dtype: int64

                 predicted non-Horror  predicted Horror
True non-Horror                  3044                26
True Horror                       114               130

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      3070
           1       0.83      0.53      0.65       244

    accuracy                           0.96      3314
   macro avg       0.90      0.76      0.81      3314
weighted avg       0.95      0.96      0.95      3314

The Music class distribution

0    3188
1     126
Name: Music, dtype: int64

                predicted non-Music  predicted Music
True non-Music                 3178               10
True Music                       89               37

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      3188
           1       0.79      0.29      0.43       126

    accuracy                           0.97      3314
   macro avg       0.88      0.65      0.71      3314
weighted avg       0.97      0.97      0.96      3314

The Musical class distribution

0    3216
1      98
Name: Musical, dtype: int64

                  predicted non-Musical  predicted Musical
True non-Musical                   3210                  6
True Musical                         79                 19

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      3216
           1       0.76      0.19      0.31        98

    accuracy                           0.97      3314
   macro avg       0.87      0.60      0.65      3314
weighted avg       0.97      0.97      0.97      3314

The Mystery class distribution

0    3056
1     258
Name: Mystery, dtype: int64

                  predicted non-Mystery  predicted Mystery
True non-Mystery                   2983                 73
True Mystery                        155                103

              precision    recall  f1-score   support

           0       0.95      0.98      0.96      3056
           1       0.59      0.40      0.47       258

    accuracy                           0.93      3314
   macro avg       0.77      0.69      0.72      3314
weighted avg       0.92      0.93      0.93      3314

The Romance class distribution

0    2753
1     561
Name: Romance, dtype: int64

                  predicted non-Romance  predicted Romance
True non-Romance                   2570                183
True Romance                        315                246

              precision    recall  f1-score   support

           0       0.89      0.93      0.91      2753
           1       0.57      0.44      0.50       561

    accuracy                           0.85      3314
   macro avg       0.73      0.69      0.70      3314
weighted avg       0.84      0.85      0.84      3314

The SciFi class distribution

0    3111
1     203
Name: SciFi, dtype: int64

                predicted non-SciFi  predicted SciFi
True non-SciFi                 3089               22
True SciFi                      101              102

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      3111
           1       0.82      0.50      0.62       203

    accuracy                           0.96      3314
   macro avg       0.90      0.75      0.80      3314
weighted avg       0.96      0.96      0.96      3314

The Sport class distribution

0    3211
1     103
Name: Sport, dtype: int64

                predicted non-Sport  predicted Sport
True non-Sport                 3201               10
True Sport                       64               39

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      3211
           1       0.80      0.38      0.51       103

    accuracy                           0.98      3314
   macro avg       0.89      0.69      0.75      3314
weighted avg       0.97      0.98      0.97      3314

The Thriller class distribution

0    2636
1     678
Name: Thriller, dtype: int64

                   predicted non-Thriller  predicted Thriller
True non-Thriller                    2473                 163
True Thriller                         303                 375

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      2636
           1       0.70      0.55      0.62       678

    accuracy                           0.86      3314
   macro avg       0.79      0.75      0.77      3314
weighted avg       0.85      0.86      0.85      3314

The War class distribution

0    3158
1     156
Name: War, dtype: int64

              predicted non-War  predicted War
True non-War               3140             18
True War                     94             62

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      3158
           1       0.78      0.40      0.53       156

    accuracy                           0.97      3314
   macro avg       0.87      0.70      0.75      3314
weighted avg       0.96      0.97      0.96      3314

In [17]:
from sklearn.metrics import classification_report   
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.72      0.55      0.62       491
           1       0.75      0.51      0.60       356
           2       0.60      0.39      0.47       127
           3       0.40      0.18      0.25       216
           4       0.70      0.54      0.61       872
           5       0.70      0.54      0.61       468
           6       0.88      0.70      0.78       485
           7       0.74      0.79      0.76      1889
           8       0.71      0.37      0.49       222
           9       0.65      0.45      0.53       233
          10       0.45      0.18      0.25       188
          11       0.83      0.53      0.65       244
          12       0.79      0.29      0.43       126
          13       0.76      0.19      0.31        98
          14       0.59      0.40      0.47       258
          15       0.57      0.44      0.50       561
          16       0.82      0.50      0.62       203
          17       0.80      0.38      0.51       103
          18       0.70      0.55      0.62       678
          19       0.78      0.40      0.53       156

   micro avg       0.71      0.56      0.62      7974
   macro avg       0.70      0.44      0.53      7974
weighted avg       0.71      0.56      0.61      7974
 samples avg       0.68      0.59      0.59      7974

The precision is good overall. The recall is somehow fluctuating from one genre to another. This means that the model is performing well for some genres but not learning enough to perform well for some others. For instance, we can clearly see that the model is struggling with recognizing Biography and History. It is however doing very well for Drama and Documentary.

Now let's check the the most important words that best describe a genre.

In [ ]:
import joblib
bagofwords = joblib.load("bagofwords.pkl")

In [19]:
# extract the coefficients of the logistic regression
my_model.coef_

array([[-1.62760389e-02,  5.02423771e-03, -3.51901202e-03, ...,
         4.55174310e-02,  1.15471726e-03, -2.27425033e-02],
       [-5.86546000e-04, -1.72234766e-03,  1.85736055e-02, ...,
         9.14902643e-03, -8.48614224e-03, -1.08020811e-02],
       [-1.28354150e-03, -1.14482585e-02,  3.17970661e-02, ...,
         7.03218370e-05,  2.03280563e-02,  1.26461238e-02],
       ...,
       [ 2.30746962e-03, -1.44495912e-03, -3.45264507e-02, ...,
        -7.67121838e-03, -4.70031029e-03, -1.66377396e-03],
       [ 2.91843438e-02, -1.13116275e-02, -4.66271985e-02, ...,
         1.38410215e-02, -2.95004981e-02,  2.57497326e-02],
       [-4.65407466e-03, -1.39793307e-03,  4.57864511e-03, ...,
        -1.14791957e-02, -5.12210188e-03,  1.31285922e-02]])

In [19]:
# build a dataframe made from the logistric regression coefficients.
coef_df = pd.DataFrame(my_model.coef_.T, columns=all_genres, index=bagofwords.get_feature_names())
coef_df

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Musical,Mystery,Romance,SciFi,Sport,Thriller,War
aaron,-0.016276,-0.000587,-0.001284,-0.018957,0.042288,-0.009959,-0.001106,-0.022913,-0.011855,0.027230,0.045599,0.009375,0.010385,-0.005343,0.021116,0.033989,0.001214,0.002307,0.029184,-0.004654
aback,0.005024,-0.001722,-0.011448,0.002097,0.051263,-0.002787,-0.004199,-0.025941,-0.007793,0.006090,0.012114,0.022049,-0.013743,-0.014141,-0.035393,0.023901,-0.010271,-0.001445,-0.011312,-0.001398
abandon,-0.003519,0.018574,0.031797,-0.015354,-0.027915,0.041966,-0.055740,0.058477,0.024003,0.015432,-0.003032,0.041053,0.006237,-0.007267,-0.003292,-0.049636,0.033822,-0.034526,-0.046627,0.004579
abbi,-0.006262,-0.015821,-0.002888,-0.005906,-0.016215,-0.007530,0.022495,0.059005,0.000695,0.009443,-0.003366,-0.020850,-0.005848,-0.003195,0.000539,0.015131,-0.011875,0.000339,0.028900,0.012900
abdomen,0.020710,-0.011007,-0.005406,-0.023784,-0.018094,0.062199,-0.003859,0.093875,-0.008187,-0.008692,0.026942,-0.022001,-0.004246,0.002400,0.052452,0.007211,0.017084,-0.002544,0.014924,-0.010987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zoe,0.004298,0.003394,-0.016035,-0.020899,-0.032778,-0.024716,-0.005469,0.048117,-0.013010,-0.006220,-0.014000,-0.021581,-0.006985,-0.003773,-0.006103,0.034582,0.039095,-0.005851,0.032339,-0.005642
zombi,-0.028847,-0.003606,0.002182,-0.006395,0.091759,-0.026325,-0.007996,-0.078352,0.003805,0.002529,-0.011929,0.093367,-0.016224,0.008805,-0.019825,-0.018085,0.034208,-0.002969,-0.050239,-0.011671
zone,0.045517,0.009149,0.000070,0.016294,-0.047829,-0.023596,0.052694,-0.035831,-0.009488,-0.000593,-0.013769,-0.013039,-0.003626,-0.010394,0.008379,-0.030443,0.075600,-0.007671,0.013841,-0.011479
zoo,0.001155,-0.008486,0.020328,-0.015066,0.007778,-0.016481,-0.004903,-0.012867,0.047342,-0.028225,-0.011130,0.001260,-0.010314,0.004974,-0.014361,0.008082,0.004228,-0.004700,-0.029500,-0.005122
zoom,-0.022743,-0.010802,0.012646,-0.000473,0.000423,0.048381,-0.009405,0.007739,-0.026432,-0.004765,0.024032,0.010285,0.003701,-0.003528,0.024000,-0.007114,-0.003696,-0.001664,0.025750,0.013129

In [20]:
coef_df.to_csv(r'coef_df.csv', index = True)

In [21]:
# for every genres pick the most impactful words that best describe a genre
for i in all_genres:
    print(f'The most impactful words for the genre {i} are')
    print(coef_df[i].nlargest())

The most impactful words for the genre Action are
fight     0.236895
kill      0.193454
action    0.165466
reveng    0.163947
battl     0.159203
Name: Action, dtype: float64
The most impactful words for the genre Adventure are
adventur    0.227969
rescu       0.145924
contend     0.135655
travel      0.130092
wwii        0.127367
Name: Adventure, dtype: float64
The most impactful words for the genre Animation are
anim          0.223323
foul          0.130205
foil          0.122421
troublemak    0.111594
egg           0.108567
Name: Animation, dtype: float64
The most impactful words for the genre Biography are
memoir         0.134822
inspir         0.133913
meaningless    0.127551
artist         0.124716
portrait       0.112859
Name: Biography, dtype: float64
The most impactful words for the genre Comedy are
comedi     0.424886
eccentr    0.174153
satir      0.169184
comic      0.167879
wed        0.156333
Name: Comedy, dtype: float64
The most impactful words for the genre Crime are
crime       0.302137
murder      0.214235
polic       0.201925
undercov    0.190162
heist       0.177223
Name: Crime, dtype: float64
The most impactful words for the genre Documentary are
documentari    0.696152
document       0.248179
footag         0.214652
portrait       0.186334
artist         0.181850
Name: Documentary, dtype: float64
The most impactful words for the genre Drama are
life      0.211503
son       0.199333
young     0.193688
overdo    0.175214
wife      0.165323
Name: Drama, dtype: float64
The most impactful words for the genre Family are
anim          0.133752
adventur      0.129565
scari         0.122690
enthusiasm    0.122126
famili        0.121589
Name: Family, dtype: float64
The most impactful words for the genre Fantasy are
magic     0.181488
ghost     0.152803
immort    0.150536
world     0.135807
fairi     0.132835
Name: Fantasy, dtype: float64
The most impactful words for the genre History are
histor     0.152955
histori    0.141684
epic       0.139061
minist     0.130304
centuri    0.129121
Name: History, dtype: float64
The most impactful words for the genre Horror are
horror        0.238429
supernatur    0.190602
haunt         0.171158
bjkuehl       0.153805
horrif        0.151812
Name: Horror, dtype: float64
The most impactful words for the genre Music are
music       0.308036
band        0.214855
singer      0.191741
musician    0.179378
rock        0.155751
Name: Music, dtype: float64
The most impactful words for the genre Musical are
music      0.156580
glamor     0.134659
love       0.128586
sing       0.126952
rubbish    0.121910
Name: Musical, dtype: float64
The most impactful words for the genre Mystery are
mysteri      0.242181
murder       0.232796
investig     0.176507
disappear    0.148632
detect       0.128097
Name: Mystery, dtype: float64
The most impactful words for the genre Romance are
love        0.569337
fall        0.265492
romanc      0.224966
romant      0.217315
homosexu    0.178980
Name: Romance, dtype: float64
The most impactful words for the genre SciFi are
earth     0.218276
robot     0.157114
nemesi    0.152086
futur     0.147549
alien     0.144405
Name: SciFi, dtype: float64
The most impactful words for the genre Sport are
sport           0.213039
champion        0.206436
footbal         0.190237
championship    0.189140
surf            0.161824
Name: Sport, dtype: float64
The most impactful words for the genre Thriller are
murder       0.271402
thriller     0.271287
kill         0.197038
mysteri      0.163494
terrorist    0.159880
Name: Thriller, dtype: float64
The most impactful words for the genre War are
war        0.362321
german     0.168827
wwii       0.161827
soldier    0.151855
italian    0.145826
Name: War, dtype: float64

Let'now generate an interactive Plotly graph that will can navigate through every genre and check the words that best describe it.

In [23]:
all_genres=['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 
                'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 
                'Musical', 'Mystery', 'Romance', 'SciFi', 'Sport', 'Thriller', 'War']

In [24]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
fig = make_subplots(
    rows=1, cols=2,
    column_widths=[0.6, 0.1]
    )



# Add locations bar chart
for i in all_genres:
    fig.add_trace(
        go.Bar(x=coef_df[i].nlargest().index,y=coef_df[i].nlargest(), name=i)


fig.show()

For Action we can see the tokens: fight, kill, action, reveng and battl.. For comedy, we can see the tokens: comedi, eccent, satir, comic, wed... That makes sense!! 
Now let take the plotly graph from my  notebook and put it on the Plotly website so I can access it anytime I want.

In [25]:
import chart_studio

In [26]:
import chart_studio.plotly as py
import chart_studio.tools as tls

In [53]:
username = 'skrichen'
api_key = 'sfle3K1BD47Q0tYppZQA'

In [54]:
chart_studio.tools.set_credentials_file(username=username, api_key=api_key)

In [61]:
py.plot(fig, filename='impactful_tokens', auto_open=True)

'https://plotly.com/~skrichen/1/'

I just got the link that I now can share it with everyone to access my Plotly graph.

In [ ]:
Coming next: is_spoiler